/* ---------------------------
CSS CODE BY OHMTEC DESIGNS 
------------------------------ */


/* -----------------------------
TOPOGRAPHY OF PAGES 
-------------------------------- */

* {
    box-sizing: border-box;
}

body {
    /* font-family: Arial, Helvetica, sans-serif; */
    position: relative;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    /* font-family: 'Poppins', sans-serif; */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.food-samples,
.africa-cuisine,
.italian-cuisnine,
.chinese-cuisine,
.services {
    background-color: #f9f9f9;
}

.bigimage {
    background-image: url(../cookbk_imgs/african_food/african_food_6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 700px;
}

.section-padding {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/* .card-title {
    color: #6d6d6d;
} */


/* -------------------------
Carousel section 
---------------------------- */

.food-samples {
    position: relative;
    overflow: hidden;
    padding-top: 20.542rem;
    padding-bottom: 20.542rem;
}

.carousel-image {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.food-samples .container {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.carousel-indicators {
    padding: 5rem;
}

.overlay {
    /* background: linear-gradient(to top, #755809, transparent 100%);  */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 2;
}


/* ------------------------
Cuisine sections
 -------------------------- */

.card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .1);
    overflow: hidden;
    position: relative;
}

.card-info {
    padding: 20px 20px 30px 20px;
}

.card-image {
    inset: 0;
    object-fit: contain;
    transition: transform .75s;
    width: 100%;
}

.card:hover .card-image {
    transform: scale(1.15);
}

hr {
    border: 1px solid #755809;
    padding: 0 !important;
    margin: 0 !important;
}