/* ---------------------------
CSS CODE BY OHMTEC DESIGNS 
------------------------------ */

/* ----------------------------
 Navigation header 
 ------------------------------ */

.mainContainer {
  height: 1300px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 20px;
}

form {
  width: 900px;
  height: 1400px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  padding-top: 3rem;
}

.infoContainer {
  height: 1100px;
}

.shortDetails,
.otherDetails,
.names,
.longAddress,
.shortAddress,
.eventDetails,
.moreEventDetails,
.eventTypedetails,
.submitButton,
.formHead {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  
}

.shortDetails > div,
.otherDetails > div,
.names > div,
.longAddress > div,
.shortAddress > div,
.eventDetails > div,
.moreEventDetails > div,
.eventTypedetails > div {
  margin: 5px;
  padding: 5px;
  width: 16rem;
  display: flex;
  flex-wrap: wrap;
  
}

.labels {
  padding: 5px;
  width: 10rem;
  
}
.selectCode{
  border: none;
  width: 7rem;
  outline: none;
  height: 100%;
  /* padding: 5px; */
 
}

.otherFields,
.textfield {
  width: 15.5rem;
  height: 2.5rem;
  outline: none;

}

.form-check {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  position: absolute;
  right: 60px;
  padding: 10px;
  width: 100px;
}
