/* ---------------------------
CSS CODE BY OHMTEC DESIGNS 
------------------------------ */


/* ----------------------------
TYPOGRAPHY
------------------------------- */

:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --veryDarkBlue: hsl(234, 12%, 34%);
    --grayishBlue: hsl(229, 6%, 66%);
    --veryLightGray: hsl(0, 0%, 98%);
    --weight1: 200;
    --weight2: 400;
    --weight3: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    /* color: red; */
    /* --grayishBlue: hsl(229, 6%, 66%); */
    /* color: var(--veryDarkBlue);  */
    /* color: #000000; */
    line-height: inherit;
}

h1,
h2 {
    font-weight: 700;
}

h3,
h4,
h5,
h6 {
    font-weight: 600;
    color: #6d6d6d;
}

h1 {
    font-size: 76px;
}

h2 {
    font-size: 56px;
}

h3 {
    font-size: 42px;
}

h4 {
    font: size 28px;
    ;
}

h5 {
    font-size: 26px;
}

h6 {
    font-size: 18px;
}

p {
    color: #717275;
    font-size: 18px;
    font-weight: 300;
}

a,
btn {
    touch-action: manipulation;
    transition: all 0.3s;
}

a {
    color: #f3af24;
    text-decoration: none;
}

::selection {
    background-color: #f44749;
    color: #FFFFFF;
}

::-moz-selection {
    background-color: #f44749;
    color: #FFFFFF;
}