/* ---------------------------
CSS CODE BY OHMTEC DESIGNS 
------------------------------ */


/* -----------------------
Services 
-------------------------- */

.services-head {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0;
    text-align: center;
    position: relative;
    height: 30em;
}

.services-head .container {
    position: relative;
    z-index: 2;
}

.services-background {
    background-image: url(../cookbk_imgs/african_food/african_food_9.jpg);
}

.services {
    position: relative;
    overflow: hidden;
}

.services .container {
    position: relative;
    z-index: 1;
}

.services-displays {
    height: 67em;
}

.banner-container {
    min-width: 100%;
    height: 45vh;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    padding: 0;
}

.banner {
    width: 100%;
    height: 80%;
    border-radius: 100%;
    padding: 12px;
    /* background: radial-gradient(#f588d8, #c0a3e5); */
    /* background: radial-gradient(#60efbc, #58d5c9); */
    /* background: radial-gradient(#76b2fe, #b69efe); */
    background: radial-gradient(#fbc1cc, #fa99b2);
    /* background: radial-gradient(#1fe4f5, #3fbafe); */
}

.image-display {
    display: flex;
    width: 90vw;
    padding: 15px;
    align-items: center;
    justify-content: center;
    height: 95vh;
    overflow: hidden;
    min-height: 95vh;
    flex-wrap: wrap;
}

.dispImages {
    background: cover no-repeat center;
    height: 80vh;
    border-radius: 50px;
    flex: 0.5;
    position: relative;
    transition: all 0.66s ease-out;
    color: #fff;
    cursor: pointer;
    margin: 10px;
}

.dispImages h4 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    opacity: 0;
}

.dispImages.active {
    flex: 5;
}

.dispImages.active h4 {
    opacity: 1;
    transition-delay: 0.5s;
}

.info-card {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

h3:first-of-type {
    font-weight: var(--weight1);
    /* color: var(--veryDarkBlue); */
}


/* h3:last-of-type {
    color: var(--veryDarkBlue);
} */

@media (max-width: 400px) {
    h1 {
        font-size: 1.5rem;
    }
}

.events-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 0.8;
    margin-bottom: 20px;
    /* margin-top: 50px; */
    height: 25vh;
}

.events-header p {
    margin: 0 auto;
    line-height: 2;
    color: var(--grayishBlue);
}

.box p {
    color: var(--grayishBlue);
}

.box {
    border-radius: 5px;
    box-shadow: 0px 30px 40px -20px var(--grayishBlue);
    padding: 30px;
    margin: 20px;
}

img {
    float: right;
}

@media (max-width: 450px) {
    .box {
        height: 200px;
    }
}

@media (max-width: 950px) and (min-width: 450px) {
    .box {
        text-align: center;
        height: 180px;
    }
}

.cyan {
    border-top: 3px solid var(--cyan);
    background: linear-gradient(180deg, #5a5bf3, #91e7d9);
}

.red {
    border-top: 3px solid var(--red);
    background: linear-gradient(to bottom right, #a0b5eb, #c9f0e4);
}

.blue {
    border-top: 3px solid var(--blue);
    background: linear-gradient(to bottom left, #65f4cd, #4799e9);
}

.orange {
    border-top: 3px solid var(--orange);
    background: linear-gradient(to right, #bdc3c7, #2c3e50);
}

h2 {
    /* color: var(--veryDarkBlue); */
    font-weight: var(--weight3);
}

@media (min-width: 950px) {
    .row1-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .row2-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .box-down {
        position: relative;
        top: 150px;
    }
    .box {
        width: 30%;
        height: 55vh;
    }
    .header p {
        width: 30%;
    }
}

@media(max-width: 480px) {
    .image-display {
        width: 100vw;
    }
    .dispImages:nth-of-type(4),
    .dispImages:nth-of-type(5) {
        display: none;
    }
}


/* CARDS */

.heading {
    text-align: center;
    width: 100%;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    margin: 20px;
    padding: 20px;
    width: 500px;
    min-height: 250px;
    display: grid;
    grid-template-rows: 20px 30px 1fr 30px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
}

.card:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
}

.card__link {
    position: relative;
    text-decoration: none;
    color: rgba(146, 137, 137, 0.9);
}

.card__link::after {
    position: absolute;
    top: 25px;
    left: 0;
    content: "";
    width: 0%;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.6);
    transition: all 0.5s;
}

.card__link:hover::after {
    width: 100%;
    text-decoration: none;
}

.card__title {
    grid-row: 1/2;
    font-weight: 400;
    line-height: 0.8;
}

.benefits-notes {
    height: fit-content;
    padding-top: 15px;
    margin-top: 5px;
    margin-bottom: 15px;
    color: #fff;
}

.card__apply {
    grid-row: 4/5;
    align-self: center;
}


/* CARD BACKGROUNDS */

.card-1 {
    background: radial-gradient(#1fe4f5, #3fbafe);
}

.card-2 {
    background: radial-gradient(#fbc1cc, #fa99b2);
}

.card-3 {
    background: radial-gradient(#76b2fe, #b69efe);
}

.card-4 {
    background: radial-gradient(#60efbc, #58d5c9);
}


/* .card-5 {
    background: radial-gradient(#f588d8, #c0a3e5);
} */


/* RESPONSIVE */

@media (max-width: 1600px) {
    .cards {
        justify-content: center;
    }
}